.formation {
	width: 100vw;
	min-height: 100%;
	color: #2b2b2b;
	display: flex;

	.fomation-ctn-1 {
		position: relative;
		width: 100vw;
		height: 50vh;
		overflow: hidden;
		p {
			position: absolute;
			display: block;
			top: 50%;
			left: 30vw;
			margin: auto;
			font-size: 36px;
			font-weight: 600;
			max-width: 37vw;
			line-height: 1.3em;
			transform: translateY(-50%);
		}

		img {
			z-index: -1;
			width: 40vmax;
			position: absolute;
			top: 0;
			background-origin: padding-box;
			display: block;
			//transform: rotate(50deg);
		}
	}
}
