@import url("//db.onlinewebfonts.com/c/501e03d4c0303f394033bcaf435f4b3e?family=Suisse+Int'l+Medium");

.digital__designer {
	position: relative;
	padding: 60px;
	overflow: hidden;
	min-height: 100vh;

	.color__prime {
		color: white;
	}

	h1.box1 {
		position: absolute;
		font-size: 148px;
		text-transform: uppercase;
		line-height: 0.8em;
		font-weight: 900;
		color: white;
		max-width: 37vw;
		left: 60px;
		top: 25%;
		pointer-events: all;
	}
}
