$cursorSize: 55px;

.custom__cursor {
	.custom__cursor__inner {
		z-index: 1000;
		position: fixed;
		width: 10px;
		height: 10px;
		background-color: black;
		border-radius: 50%;
		transform: translate3d(50%, 50%, 0);
	}

	.custom__cursor__outer {
		z-index: 777;
		position: fixed;
		width: $cursorSize;
		height: $cursorSize;

		//border: 1px solid black;
		background-color: white;
		border-radius: 50%;
		transform-origin: center;
		transform: translate3d(-50%, -50%, 0);
		transition: all 0.2s ease-out;
	}

	&.actif {
		.custom__cursor__outer {
			width: 3 * $cursorSize;
			height: 3 * $cursorSize;
			background-color: white;
			mix-blend-mode: difference;
		}
	}
}
